
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.button {
  background-color: #f13239; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 1rem;
  margin-left: 1rem;
}

.button:hover {
  background-color: #c11b1f; /* Cor do botão ao passar o mouse */
}
