/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/entidades/tags/tags.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/

.tags_container__ZYJNZ {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}


.tags_tags_container__AA2C9 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tags_tags_container__AA2C9 .tags_button__Ellsj{
  flex-direction:row;
}


.tags_button_container___yLby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.tags_button__Ellsj {
  background-color: #f13239; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 1rem;
  margin-left: 1rem;
  flex-direction: row;
}

.tags_button__Ellsj:hover {
  background-color: #c11b1f; /* Cor do botão ao passar o mouse */
}

.tags_tableContainer__VAwb4 {
  margin: 20px;
}

.tags_table__v0IaX {
  width: 85%;
  border-collapse: collapse;
  margin: 20px auto;
}

.tags_table__v0IaX th,
.tags_table__v0IaX td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tags_table__v0IaX th {
  background-color: #f4f4f4;
}

.tags_table__v0IaX tr:nth-child(even) {
  background-color: #f9f9f9;
}


/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/

.page_logo__ikIZE{
  max-width: 70px;
  max-height: 70px;
}

.page_container__jZF7q {
  margin: 0 auto;
}

.page_container_header__VDmw1 {
  
  margin: 0 auto;
  display: flex;
}
.page_container_header_2__CzrOy {
  margin-left: auto; 
  display: flex;
  align-items: center;
}


.page_recipe__vAd5E{
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
  font-weight: bold;
}

.page_recipe_link___yl1f {
  color: #f13239;
  border-bottom: 1px solid #f13239;
}

.page_recipe_link___yl1f:hover,
.page_recipe_link___yl1f:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.page_dark___C_6h {
  background-color: #111111;
  color: #ebebeb;
}

.page_dark_link__b_rp7 {
  color: #f13239;
  border-bottom: 1px solid #f13239;
}

.page_dark_link__b_rp7:hover,
.page_dark_link__b_rp7:focus {
  color: #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.page_text_center__KxLUN {
  text-align: center;
}

.page_carrossel__093Yp {
  height: 320px;
  padding: 24px;
  background-image: url(/images/carrossel1.jpg);
  background-size: cover;
  background-position: center 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.page_carrossel__093Yp h1 {
  color: #ffffff;
  font-size: 36px;
  padding: 4px 8px;
}

.page_dots__MRqKY {
  margin-top: 24px;
  display: flex;
}

.page_dots__MRqKY button {
  background-color: #ebebeb;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.page_dots__MRqKY button + button {
  margin-left: 8px;
}

.page_dots__MRqKY .page_active__9fwfh {
  background-color: #f13239;
}

.page_gallery__zv1_e {
  padding: 64px 24px 96px;
}

.page_gallery__zv1_e h2 {
  color: #111111;
}

.page_gallery_row__bu89B {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.page_gallery_row__bu89B figure {
  flex: 1 1 250px;
}

.page_gallery_row__bu89B figure img {
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 320px;
  max-height: 320px;
}

.page_gallery__zv1_e figure figcaption {
  font-weight: bold;
}

.page_history__14tNO {
  padding: 92px 24px 0;
  border-top: 4px solid #f13239;
}

.page_history__14tNO .page_container__jZF7q {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  border-bottom: 2px solid #f13239;
}

.page_history__14tNO .page_container__jZF7q .page_col__BME0q {
  flex: 1 1 350px;
}

.page_history__14tNO img {
  width: 100%;
  display: block;
}

.page_history__14tNO p + p {
  margin-top: 24px;
}


.page_popup__tm4Gh {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
}

.page_filter__LCLYg {
  margin-bottom: 20px;
}

.page_filter__LCLYg label {
  font-weight: bold;
}

.page_filter__LCLYg select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page_popup__tm4Gh {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.page_popup__tm4Gh h2 {
  margin-top: 0;
}

.page_popup__tm4Gh button {
  margin-top: 10px;
}

  
/* Mobile */
@media (max-width: 700px) {

    .page_center__NcdcW {
        padding: 8rem 0 6rem;
    }

    .page_description__lvaOp {
        font-size: 0.8rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

    .page_center__NcdcW {
        padding: 8rem 0 6rem;
    }

    .page_description__lvaOp {
        font-size: 0.8rem;
    }
}

