/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/ui.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.ui_container__PLv6_ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.ui_card__sefCj {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.ui_login-logo__dh1dO {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.ui_form-group__aJAWM {
  margin-bottom: 20px;
  text-align: left;
}

.ui_form-control__7B4zF {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.ui_submit-btn__xnbr1 {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.ui_submit-btn__xnbr1:hover {
  background-color: #45a049;
}

.ui_error-message__vfQqC {
  color: red;
  margin-bottom: 10px;
}

.ui_signup-link__qjldG {
  margin-top: 10px;
}

