/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/entidades/receita/receitas.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/

.receitas_recipe_header__vV_1P {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.receitas_Recipe_row__7aovn {
    display: flex;
    align-items: flex-start;
}

.receitas_Recipe_row__7aovn figure {
    margin-right: 20px;
    margin-bottom: 20px;
}

.receitas_recipe_content__HkZQY {
    flex: 1 1;
}

.receitas_recipe_content__HkZQY h2 {
    font-size: 24px;
    margin-top: 0;
}

.receitas_recipe_content__HkZQY p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.receitas_stars__Fb7_f {
    display: inline-block;
    font-size: 0;
}

.receitas_star__YffBM {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('/images/star.jpg');
    background-size: contain;
    cursor: pointer;
}

.receitas_ratingvalue___5itG {
    font-size: 24px;
    margin-left: 10px;
}

.receitas_tableContainer__D6tPo {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.receitas_table__LTQA7 {
    width: 100%;
    border-collapse: collapse;
}

.receitas_table__LTQA7 th, .receitas_table__LTQA7 td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.receitas_table__LTQA7 th {
    background-color: #f2f2f2;
}

.receitas_tableContainer__D6tPo {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.receitas_table__LTQA7 {
    width: 100%;
    border-collapse: collapse;
}

.receitas_table__LTQA7 th, .receitas_table__LTQA7 td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.receitas_table__LTQA7 th {
    background-color: #f2f2f2;
}

.receitas_form__a_QJj {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.receitas_ingredientBox__Wgyym {
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
}

.receitas_ingredientItem__rj_HD {
    padding: 5px 0;
    cursor: pointer;
}

.receitas_ingredientItem__rj_HD:hover {
    background-color: #f0f0f0;
}

.receitas_selectedIngredients__O5yGl ul {
    list-style-type: none;
    padding: 0;
}
